USE [master]
GO

-- Crear la base de datos solo si no existe
IF NOT EXISTS (SELECT * FROM sys.databases WHERE name = N'consorAppDb')
BEGIN
    CREATE DATABASE [consorAppDb]
END
GO

USE [consorAppDb]
GO

-- 1. Crear tabla Perfiles
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Perfiles]') AND type in (N'U'))
BEGIN
    CREATE TABLE [dbo].[Perfiles](
        [IdPerfil] [int] IDENTITY(1,1) NOT NULL,
        [NombrePerfil] [varchar](50) NOT NULL,
        CONSTRAINT [PK_Perfiles] PRIMARY KEY CLUSTERED ([IdPerfil] ASC)
    )
END
GO

-- 2. Crear tabla Usuarios
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Usuarios]') AND type in (N'U'))
BEGIN
    CREATE TABLE [dbo].[Usuarios](
        [IdUsuario] [int] IDENTITY(1,1) NOT NULL,
        [Nombre] [varchar](50) NOT NULL,
        [Apellido] [varchar](50) NOT NULL,
        [UsuarioSistema] [varchar](50) NOT NULL,
        [Contrasenia] [varchar](100) NOT NULL,
        [IdPerfil] [int] NOT NULL,
        CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED ([IdUsuario] ASC),
        CONSTRAINT [UQ_Usuarios_UsuarioSistema] UNIQUE NONCLUSTERED ([UsuarioSistema] ASC),
        CONSTRAINT [FK_Usuarios_Perfiles] FOREIGN KEY([IdPerfil]) REFERENCES [dbo].[Perfiles] ([IdPerfil])
    )
END
GO

-- 3. Cargar datos iniciales de Perfiles
IF NOT EXISTS (SELECT 1 FROM [dbo].[Perfiles])
BEGIN
    SET IDENTITY_INSERT [dbo].[Perfiles] ON
    INSERT [dbo].[Perfiles] ([IdPerfil], [NombrePerfil]) VALUES (1, N'Administrador')
    INSERT [dbo].[Perfiles] ([IdPerfil], [NombrePerfil]) VALUES (2, N'Encargado')
    INSERT [dbo].[Perfiles] ([IdPerfil], [NombrePerfil]) VALUES (3, N'Propietario')
    SET IDENTITY_INSERT [dbo].[Perfiles] OFF
END
GO

-- 4. Cargar datos iniciales de Usuarios
IF NOT EXISTS (SELECT 1 FROM [dbo].[Usuarios])
BEGIN
    SET IDENTITY_INSERT [dbo].[Usuarios] ON
    INSERT [dbo].[Usuarios] ([IdUsuario], [Nombre], [Apellido], [UsuarioSistema], [Contrasenia], [IdPerfil]) VALUES (1, N'Carlos', N'Gómez', N'admin', N'1234', 1)
    INSERT [dbo].[Usuarios] ([IdUsuario], [Nombre], [Apellido], [UsuarioSistema], [Contrasenia], [IdPerfil]) VALUES (2, N'Roberto', N'Pérez', N'encargado', N'1234', 2)
    INSERT [dbo].[Usuarios] ([IdUsuario], [Nombre], [Apellido], [UsuarioSistema], [Contrasenia], [IdPerfil]) VALUES (3, N'Ana', N'Martínez', N'propietario', N'1234', 3)
    SET IDENTITY_INSERT [dbo].[Usuarios] OFF
END
GO

USE [consorAppDb]
GO

-- 1. TABLA EDIFICIO (Con la columna descripcion agregada)
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Edificio]') AND type in (N'U'))
BEGIN
    CREATE TABLE [dbo].[Edificio](
        [id_edificio] [int] IDENTITY(1,1) NOT NULL,
        [descripcion] [varchar](150) NULL, -- Campo para el nombre/descripción del edificio
        [CantDepto] [int] NOT NULL,
        [cantPisos] [int] NOT NULL,
        [ubicacion] [varchar](150) NOT NULL,
        CONSTRAINT [PK_Edificio] PRIMARY KEY CLUSTERED ([id_edificio] ASC)
    )
END
GO

-- 2. TABLA CONCEPTO GASTO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[conceptoGasto]') AND type in (N'U'))
BEGIN
    CREATE TABLE [dbo].[conceptoGasto](
        [id_conceptoGasto] [int] IDENTITY(1,1) NOT NULL,
        [nombreConcepto] [varchar](100) NOT NULL,
        [descripcion] [varchar](250) NULL,
        CONSTRAINT [PK_conceptoGasto] PRIMARY KEY CLUSTERED ([id_conceptoGasto] ASC)
    )
END
GO

-- 3. TABLA DEPARTAMENTO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Departamento]') AND type in (N'U'))
BEGIN
    CREATE TABLE [dbo].[Departamento](
        [id_Departamento] [int] IDENTITY(1,1) NOT NULL,
        [id_Edificio] [int] NOT NULL,
        [id_Propietario] [int] NULL,
        [piso] [int] NOT NULL,
        [unidad] [varchar](10) NOT NULL,
        CONSTRAINT [PK_Departamento] PRIMARY KEY CLUSTERED ([id_Departamento] ASC),
        CONSTRAINT [FK_Departamento_Edificio] FOREIGN KEY([id_Edificio]) REFERENCES [dbo].[Edificio] ([id_edificio])
    )
END
GO

-- 4. TABLA PROPIETARIO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Propietario]') AND type in (N'U'))
BEGIN
    CREATE TABLE [dbo].[Propietario](
        [id_Propietario] [int] IDENTITY(1,1) NOT NULL,
        [Id_Usuario] [int] NULL,
        [id_Departamento] [int] NOT NULL,
        [fechaDesde] [date] NOT NULL,
        [fechaHasta] [date] NULL,
        [estado] [varchar](20) NOT NULL,
        CONSTRAINT [PK_Propietario] PRIMARY KEY CLUSTERED ([id_Propietario] ASC),
        CONSTRAINT [FK_Propietario_Usuario] FOREIGN KEY([Id_Usuario]) REFERENCES [dbo].[Usuarios] ([IdUsuario]),
        CONSTRAINT [FK_Propietario_Departamento] FOREIGN KEY([id_Departamento]) REFERENCES [dbo].[Departamento] ([id_Departamento])
    )
END
GO

-- Relación de llave foránea entre Departamento y Propietario
IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Departamento]') AND type in (N'U'))
BEGIN
    IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Departamento_Propietario]'))
    BEGIN
        ALTER TABLE [dbo].[Departamento]  
        ADD CONSTRAINT [FK_Departamento_Propietario] FOREIGN KEY([id_Propietario]) REFERENCES [dbo].[Propietario] ([id_Propietario])
    END
END
GO

-- 5. TABLA ESPACIO COMUN
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[espacioComun]') AND type in (N'U'))
BEGIN
    CREATE TABLE [dbo].[espacioComun](
        [id_espacioComun] [int] IDENTITY(1,1) NOT NULL,
        [id_edificio] [int] NOT NULL,
        [nombre] [varchar](100) NOT NULL,
        [descripcion] [varchar](250) NULL,
        [capacidad] [int] NOT NULL,
        [estado] [varchar](20) NOT NULL,
        CONSTRAINT [PK_espacioComun] PRIMARY KEY CLUSTERED ([id_espacioComun] ASC),
        CONSTRAINT [FK_espacioComun_Edificio] FOREIGN KEY([id_edificio]) REFERENCES [dbo].[Edificio] ([id_edificio])
    )
END
GO

-- 6. TABLA RESERVA
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Reserva]') AND type in (N'U'))
BEGIN
    CREATE TABLE [dbo].[Reserva](
        [id_Reserva] [int] IDENTITY(1,1) NOT NULL,
        [id_EspacioComun] [int] NOT NULL,
        [id_Propietario] [int] NOT NULL,
        [codigoSeguimiento] [varchar](50) NOT NULL,
        [fechaReserva] [date] NOT NULL,
        [horaInicio] [time](7) NOT NULL,
        [horaFin] [time](7) NOT NULL,
        [estadoReserva] [varchar](20) NOT NULL,
        CONSTRAINT [PK_Reserva] PRIMARY KEY CLUSTERED ([id_Reserva] ASC),
        CONSTRAINT [FK_Reserva_espacioComun] FOREIGN KEY([id_EspacioComun]) REFERENCES [dbo].[espacioComun] ([id_espacioComun]),
        CONSTRAINT [FK_Reserva_Propietario] FOREIGN KEY([id_Propietario]) REFERENCES [dbo].[Propietario] ([id_Propietario])
    )
END
GO

-- 7. TABLA GASTO EDIFICIO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Gasto_edificio]') AND type in (N'U'))
BEGIN
    CREATE TABLE [dbo].[Gasto_edificio](
        [id_Gasto] [int] IDENTITY(1,1) NOT NULL,
        [Id_Edificio] [int] NOT NULL,
        [id_conceptoGasto] [int] NOT NULL,
        [descripcion] [varchar](250) NULL,
        [monto] [decimal](12, 2) NOT NULL,
        [periodo] [varchar](20) NOT NULL,
        [fecha] [date] NOT NULL,
        [estado] [varchar](20) NOT NULL,
        CONSTRAINT [PK_Gasto_edificio] PRIMARY KEY CLUSTERED ([id_Gasto] ASC),
        CONSTRAINT [FK_Gasto_edificio_Edificio] FOREIGN KEY([Id_Edificio]) REFERENCES [dbo].[Edificio] ([id_edificio]),
        CONSTRAINT [FK_Gasto_edificio_conceptoGasto] FOREIGN KEY([id_conceptoGasto]) REFERENCES [dbo].[conceptoGasto] ([id_conceptoGasto])
    )
END
GO

-- 8. TABLA AVISO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Aviso]') AND type in (N'U'))
BEGIN
    CREATE TABLE [dbo].[Aviso](
        [id_Aviso] [int] IDENTITY(1,1) NOT NULL,
        [id_usuario] [int] NOT NULL,
        [titulo] [varchar](100) NOT NULL,
        [mensaje] [varchar](max) NOT NULL,
        [fechaPublicacion] [datetime] NOT NULL,
        CONSTRAINT [PK_Aviso] PRIMARY KEY CLUSTERED ([id_Aviso] ASC),
        CONSTRAINT [FK_Aviso_Usuarios] FOREIGN KEY([id_usuario]) REFERENCES [dbo].[Usuarios] ([IdUsuario])
    )
END
GO

-- 9. TABLA RECLAMO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Reclamo]') AND type in (N'U'))
BEGIN
    CREATE TABLE [dbo].[Reclamo](
        [id_Reclamo] [int] IDENTITY(1,1) NOT NULL,
        [id_UsuarioDepartamento] [int] NOT NULL,
        [Descripcion] [varchar](max) NOT NULL,
        [codigoSeguimiento] [varchar](50) NOT NULL,
        [mensaje] [varchar](max) NULL,
        [estadoReclamo] [varchar](20) NOT NULL,
        [fechaReclamo] [datetime] NOT NULL,
        CONSTRAINT [PK_Reclamo] PRIMARY KEY CLUSTERED ([id_Reclamo] ASC),
        CONSTRAINT [FK_Reclamo_Propietario] FOREIGN KEY([id_UsuarioDepartamento]) REFERENCES [dbo].[Propietario] ([id_Propietario])
    )
END
GO


USE [consorAppDb]
GO
/****** Objeto: StoredProcedure [dbo].[sp_InsertarUsuario] Fecha de script: 21/09/2026 17:26:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_InsertarUsuario]
    @Nombre VARCHAR(50),
    @Apellido VARCHAR(50),
    @Dni VARCHAR(20),
    @Telefono VARCHAR(30),
    @Email VARCHAR(100),
    @UsuarioSistema VARCHAR(50),
    @Contrasenia VARCHAR(100),
    @IdPerfil INT
AS
BEGIN
    INSERT INTO Usuarios (Nombre, Apellido, Dni, Telefono, Email, UsuarioSistema, Contrasenia, IdPerfil, Estado, FechaAlta) 
    VALUES (@Nombre, @Apellido, @Dni, @Telefono, @Email, @UsuarioSistema, @Contrasenia, @IdPerfil, 1, GETDATE());
END

UPDATE Usuarios
SET Dni = '18475218', 
    Telefono = '3794114572', 
    Email = 'carlos@gmail.com'
WHERE IdUsuario = 1;

UPDATE Usuarios
SET Dni = '12345678', 
    Telefono = '3794112233', 
    Email = 'roberto@gmail.com'
WHERE IdUsuario = 2;

UPDATE Usuarios
SET Dni = '17349878', 
    Telefono = '3794125478', 
    Email = 'ana@gmail.com'
WHERE IdUsuario = 3;

-- Agregar la columna id_edificio (FK opcional hacia Edificio)
ALTER TABLE Aviso
ADD id_edificio INT NULL;

-- Agregar la columna id_Departamento (FK opcional hacia Departamento)
ALTER TABLE Aviso
ADD id_Departamento INT NULL;

-- Crear la Clave Foránea hacia la tabla Edificio
ALTER TABLE Aviso
ADD CONSTRAINT FK_Aviso_Edificio 
FOREIGN KEY (id_edificio) REFERENCES Edificio(id_edificio)
ON DELETE SET NULL;

-- Crear la Clave Foránea hacia la tabla Departamento
ALTER TABLE Aviso
ADD CONSTRAINT FK_Aviso_Departamento 
FOREIGN KEY (id_Departamento) REFERENCES Departamento(id_Departamento)
ON DELETE SET NULL;

ALTER TABLE Reserva DROP COLUMN horaInicio;
ALTER TABLE Reserva DROP COLUMN horaFin;

CREATE TABLE Turno(
id_Turno INT IDENTITY(1,1) NOT NULL,
nombreTurno VARCHAR(20) NOT NULL,
horaInicio TIME NOT NULL,
horaFin TIME NOT NULL,
CONSTRAINT PK_TURNO PRIMARY KEY (id_Turno));

ALTER TABLE Reserva ADD id_Turno INT NOT NULL;

ALTER TABLE Reserva ADD CONSTRAINT FK_Reserva_Turno FOREIGN KEY (id_Turno) REFERENCES Turno (id_Turno);

CREATE TABLE Incidente (
    Id_Incidente INT IDENTITY(1,1) PRIMARY KEY,
    Id_Reserva INT NOT NULL,
    Descripcion VARCHAR(500) NOT NULL,
    FechaIncidente DATETIME NOT NULL DEFAULT GETDATE(),
    EstadoIncidente VARCHAR(30) NOT NULL,

    FOREIGN KEY (Id_Reserva)
        REFERENCES Reserva (Id_Reserva)
);

-- 1. Cabecera global de la liquidación del edificio por período
CREATE TABLE Expensa (
    id_Expensa INT IDENTITY(1,1) PRIMARY KEY,
    id_Edificio INT NOT NULL,
    periodo VARCHAR(7) NOT NULL, -- Ej: '09/2026'
    montoTotalGastos DECIMAL(18,2) NOT NULL,
    valorExpensaIndividual DECIMAL(18,2) NOT NULL,
    fechaEmision DATE NOT NULL,
    
    CONSTRAINT FK_Expensa_Edificio FOREIGN KEY (id_Edificio) 
        REFERENCES EDIFICIO(id_edificio)
);

-- 2. Detalle / Boleta individual por cada departamento con su estado de pago administrativo
CREATE TABLE Detalle_Expensa (
    id_DetalleExpensa INT IDENTITY(1,1) PRIMARY KEY,
    id_Expensa INT NOT NULL,
    id_Departamento INT NOT NULL,
    montoAPagar DECIMAL(18,2) NOT NULL,
    fechaVencimiento DATE NOT NULL,
    
    -- Control administrativo del pago (sin pasarela online)
    estadoPago VARCHAR(20) NOT NULL DEFAULT 'Pendiente', -- 'Pendiente' o 'Pagado'
    fechaPago DATE NULL,                                 -- Se llena cuando el administrador registra el pago
    metodoPago VARCHAR(50) NULL,                         -- 'Efectivo', 'Transferencia', etc.
    
    CONSTRAINT FK_DetalleExpensa_Expensa FOREIGN KEY (id_Expensa) 
        REFERENCES Expensa(id_Expensa),
    CONSTRAINT FK_DetalleExpensa_Departamento FOREIGN KEY (id_Departamento) 
        REFERENCES Departamento(id_Departamento)
);

ALTER TABLE Usuarios ALTER COLUMN Dni VARCHAR(20) NOT NULL;
ALTER TABLE Usuarios ADD CONSTRAINT UQ_Usuarios_Dni UNIQUE (Dni);
ALTER TABLE Usuarios ADD CONSTRAINT UQ_Usuarios_UsuarioSistema UNIQUE (UsuarioSistema);
ALTER TABLE Usuarios ALTER COLUMN Email VARCHAR(100) NOT NULL;
SELECT* FROM Usuarios;

ALTER TABLE Aviso ADD estado INT NOT NULL DEFAULT 1;

ALTER TABLE Reclamo DROP COLUMN codigoSeguimiento;
ALTER TABLE Reclamo ADD Motivo VARCHAR(100) NOT NULL;
ALTER TABLE Reclamo ADD Ubicacion VARCHAR(100) NOT NULL;
ALTER TABLE Reclamo DROP COLUMN mensaje;
ALTER TABLE Reclamo ADD Observacion VARCHAR(max) NULL;



ALTER TABLE Departamento DROP CONSTRAINT FK_Departamento_Propietario;
ALTER TABLE Departamento DROP COLUMN id_Propietario;